input[type="password"]::-ms-reveal {
  display: none !important;
}

.cadastroContainer {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background: radial-gradient(
      circle at 28% center,
      rgba(123, 61, 147, 0.702) 30%,
      rgba(81, 46, 97, 0.7) 35%,
      rgba(75, 41, 96, 0.7) 40%
    ),
    url("/midia/ingredientes-bg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Silhueta no fundo (não muda) */
.bgSilhueta::before {
  content: "";
  position: absolute;
  width: 500px; /* Ajuste conforme o tamanho desejado */
  height: 500px; /* Ajuste conforme o tamanho desejado */
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/ingredientes-silhueta.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.6; /* Deixa mais suave se quiser */
  z-index: 0; /* Fica atrás do texto */
}

/* Texto no lado esquerdo */
.ladoEsquerdo {
  position: absolute;
  left: -2%;
  top: 40%;
  bottom: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: var(--floral-white);
  text-align: center;
  z-index: 1;
}

.fraseEfeito {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.4;
  z-index: 2;
}

/* Modal do cadastro */
.ladoDireito {
  flex: 1;
  position: fixed;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--floral-white);
  border-radius: 20px;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 650px;
  height: 90vh; /* Garante que o modal ocupe 90% da altura da tela */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Garante que o conteúdo seja distribuído */
  padding: 2rem 1.5rem;
  overflow: hidden; /* Remove o scroll do modal */
  animation: slideUp 1.2s ease-out; /* Duração de 1 segundo */
}

/* Formulário */
.formulario {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto; /* Adiciona scroll apenas ao conteúdo interno */
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.inputsRow {
  display: flex;
  gap: 1rem;
}

.inputsRow > .formGroup {
  flex: 1;
}

.formGroup {
  position: relative; /* Define o contêiner como referência para posicionamento absoluto */
}

.formGroup label {
  margin-bottom: 0.75rem; /* Ou entre 0.5rem a 1rem */
  color: var(--rich-black);
}

/* Contêiner para o input com ícone */
.inputIconContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIconContainer i {
  position: absolute;
  left: 0.75rem; /* Espaço à esquerda */
  top: 0.75rem;
  font-size: 1.2rem;
  color: #6c757d;
}

/* Campos de entrada */
.inputField {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem; /* Espaço extra para o ícone */
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.senhaContainer {
  position: relative;
}

.toggleSenha {
  position: absolute;
  top: 3%;
  right: 0.25rem;
  left: 13.7rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Botão de cadastro */
.btnCadastrar {
  margin: auto; /* Centraliza horizontalmente */
  margin-top: 25px;
  width: 42%; /* Define a largura como 50% */
  padding: 0.75rem;
  background-color: #fca311;
  color: var(--floral-white);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex-shrink: 0;
  display: block; /* Garante que o botão seja tratado como um bloco */
}

.btnCadastrar:hover {
  background-color: #e07a00;
  color: var(--white);
}

.topoForms {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
}

.crieConta {
  width: 55%;
  margin-bottom: 30px;
  justify-content: center;
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

.textErroSenha {
  color: var(--imperial-red); /* Vermelho para mensagens de erro */
  font-size: 0.85rem;
  font-weight: 600;
  position: absolute; /* Posiciona a mensagem fora do fluxo normal */
  top: 100%; /* Coloca a mensagem logo abaixo do campo */
  right: 0; /* Alinha o texto à direita do contêiner */
  white-space: nowrap; /* Garante que o texto fique em uma linha só */
  margin-top: 0.25rem; /* Espaçamento entre o campo e a mensagem */
}

.textErroEmail {
  color: var(--imperial-red); /* Vermelho para mensagens de erro */
  font-size: 0.85rem;
  font-weight: 600;
  position: absolute; /* Posiciona a mensagem fora do fluxo normal */
  bottom: 100%; /* Coloca a mensagem acima do campo */
  right: 0; /* Alinha o texto à direita do contêiner */
  white-space: nowrap; /* Garante que o texto fique em uma linha só */
  margin-bottom: -1.5rem; /* Espaçamento entre o campo e a mensagem */
}

.textErroTelefone {
  color: var(--imperial-red); /* Vermelho para mensagens de erro */
  font-size: 0.85rem;
  font-weight: 600;
  position: absolute; /* Posiciona a mensagem em relação ao formGroup */
  top: 0.3rem; /* Coloca a mensagem acima do campo */
  left: 22.4rem; /* Alinha o texto à esquerda do campo */
  white-space: nowrap; /* Garante que o texto fique em uma linha só */
}

.textErroFormatoEmail {
  color: var(--imperial-red); /* Vermelho para mensagens de erro */
  font-size: 0.85rem;
  font-weight: 600;
  position: absolute; /* Posiciona a mensagem em relação ao formGroup */
  top: 0.3rem; /* Coloca a mensagem acima do campo */
  left: 23rem; /* Alinha o texto à esquerda do campo */
  white-space: nowrap; /* Garante que o texto fique em uma linha só */
}

.textErroConfirmarEmail {
  color: var(--imperial-red); /* Vermelho para mensagens de erro */
  font-size: 0.85rem;
  font-weight: 600;
  position: absolute; /* Posiciona a mensagem fora do fluxo normal */
  top: 0%; /* Coloca a mensagem abaixo do campo */
  left: 70%; /* Alinha o texto à esquerda do contêiner */
  white-space: nowrap; /* Garante que o texto fique em uma linha só */
  margin-top: 0.25rem; /* Espaçamento entre o campo e a mensagem */
}

.textSucesso {
  color: var(--dark-pastel-green);
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.regrasSenha {
  font-size: 0.85rem;
  margin-top: 0.1rem;
  color: #6c757d;
  list-style: none;
  padding: 0;
}

.regrasSenha li {
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
  white-space: nowrap; /* Impede quebra de linha */
}

.regrasSenha li i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.regrasSenha .valido i {
  color: green; /* Ícone verde para regras atendidas */
}

.regrasSenha .invalido i {
  color: red; /* Ícone vermelho para regras não atendidas */
}

.regrasSenha .valido {
  font-weight: bold; /* Texto em negrito para regras atendidas */
}

.logoManuscrito {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; /* pode ajustar para o melhor tamanho */
  height: auto;
  opacity: 0.9;
  z-index: 2; /* levemente acima */
  animation: slideDownLogo 1.2s ease-out; /* Duração de 1.2 segundos */
}

.imagemPrato {
  width: 1100px; /* ajuste o tamanho conforme quiser */
  height: auto;
  margin-top: -350px; /* distancia do logo */
  z-index: 2;
  animation: slideDown 1.2s ease-out; /* Duração de 1 segundo */
}

@media (max-width: 768px) {
  .ladoEsquerdo {
    display: none;
  }

  .ladoDireito {
    position: static;
    transform: none;
    right: 0;
    top: 0;
    margin: 1.5rem;
    padding: 2rem 1.5rem;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.3);
  }

  .inputsRow {
    flex-direction: column;
  }

  .toggleSenha {
    position: absolute;
    top: 3%;
    right: 0.25rem;
    left: 13.7rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .ladoEsquerdo {
    display: none;
  }

  .ladoDireito {
    position: static;
    transform: none;
    right: 0;
    top: 0;
    margin: 1.5rem;
    padding: 2rem 1.5rem;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.3);
  }

  .fraseEfeito {
    font-size: 2rem;
  }

  .inputsRow {
    flex-direction: column;
  }

  .toggleSenha {
    position: absolute;
    top: 3%;
    right: 0.25rem;
    left: 14.1rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .ladoEsquerdo {
    display: none;
  }

  .ladoDireito {
    position: static;
    transform: none;
    right: 0;
    top: 0;
    margin: 1.5rem;
    padding: 2rem 1.5rem;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.3);
  }

  .fraseEfeito {
    font-size: 2rem;
  }

  .inputsRow {
    flex-direction: column;
  }

  .toggleSenha {
    position: absolute;
    top: 3%;
    right: 0.25rem;
    left: 11.7rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

/* Estilo para o pop-up de erro */
.popUpError {
  position: fixed;
  bottom: 5px;
  right: 10px;
  background-color: var(--imperial-red); /* Vermelho para erros */
  color: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  font-weight: bold;
  z-index: 1000;
  animation: slideInError 0.3s ease-in, slideOutError 0.5s ease-out 8s forwards; /* Combina as animações */
}

/* Estilo para o pop-up de sucesso */
.popUpSucess {
  position: fixed;
  bottom: 770px;
  right: 70px;
  background-color: var(
    --dark-pastel-green
  ); /* Verde para confirmações bem sucedidas */
  color: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  font-weight: bold;
  z-index: 1000;
  animation: slideInSuccess 0.5s ease-out,
    slideOutSuccess 0.5s ease-out 240s forwards; /* Combina as animações */
}

.asterisco {
  color: var(--imperial-red); /* Vermelho para o asterisco */
  margin-left: 0.25rem;
}

.inputInvalido {
  border: 2px solid var(--imperial-red); /* Borda vermelha para campos inválidos */
  background-color: var(--white); /* Fundo levemente vermelho */
}

/* Animação para a imagem do prato */
@keyframes slideDown {
  0% {
    transform: translateY(-100%); /* Começa fora da tela, acima */
    opacity: 0; /* Invisível */
  }
  100% {
    transform: translateY(0); /* Posição final */
    opacity: 1; /* Visível */
  }
}

/* Animação para o logo manuscrito */
@keyframes slideDownLogo {
  0% {
    transform: translate(
      -50%,
      -200%
    ); /* Começa acima e alinhada horizontalmente */
    opacity: 0; /* Invisível */
  }
  100% {
    transform: translate(-50%, -50%); /* Posição final: centro do prato */
    opacity: 1; /* Visível */
  }
}

/* Animação para o modal */
@keyframes slideUp {
  0% {
    transform: translateY(100%); /* Começa fora da tela, abaixo */
    opacity: 0; /* Invisível */
  }
  100% {
    transform: translateY(-50%); /* Posição final */
    opacity: 1; /* Visível */
  }
}

/* Animação para entrada suave dos pop-ups */
@keyframes slideInError {
  0% {
    transform: translateY(40px); /* Começa ligeiramente abaixo */
    opacity: 1; /* Invisível */
  }
  100% {
    transform: translateY(0px); /* Posição final */
    opacity: 1; /* Visível */
  }
}

/* Animação para saída suave dos pop-ups */
@keyframes slideOutError {
  100% {
    transform: translateY(50px); /* Posição inicial */
    opacity: 1; /* Visível */
  }
  0% {
    transform: translateY(0px); /* Sai ligeiramente abaixo */
    opacity: 1; /* Invisível */
  }
}

@keyframes slideInSuccess {
  0% {
    transform: translateY(-100px); /* Começa ligeiramente acima */
    opacity: 1; /* Invisível */
  }
  100% {
    transform: translateY(0px); /* Posição final */
    opacity: 1; /* Visível */
  }
}

@keyframes slideOutSuccess {
  100% {
    transform: translateY(-100px); /* Posição inicial */
    opacity: 1; /* Visível */
  }
  0% {
    transform: translateY(0px); /* Sai ligeiramente abaixo */
    opacity: 1; /* Invisível */
  }
}