input[type="password"]::-ms-reveal {
  display: none !important;
}

.container {
  background-color: var(--floral-white);
  border-radius: 20px;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.4);
  width: 430px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.formulario h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.logoManuscrito {
  position: absolute;
  width: 230px;
}

.imagemPrato {
  width: 300px;
}

.inputField {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.formGroup label {
  margin-bottom: 0.75rem;
  color: var(--rich-black);
}

.inputIconContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIconContainer i {
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  font-size: 1.2rem;
  color: #6c757d;
}

.toggleSenha {
  position: absolute;
  top: 3%;
  right: 32px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

/* Estilo para o link "Esqueci minha senha" */
.esqueciSenha {
  font-size: 0.9rem;
  color: var(--ultra-violet);
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
  text-align: right; /* Alinha o texto à direita */
  margin-top: -0.5rem; /* Espaçamento entre o campo de senha e o link */
  display: block; /* Garante que o link ocupe uma linha inteira */
}

.esqueciSenha:hover {
  color: #502d5a; /* Cor ao passar o mouse */
}

/* Estilo para o footer do modal */
.modalFooter {
  font-size: 0.9rem;
  display: flex; /* Alinha os elementos em linha */
  justify-content: center; /* Centraliza o conteúdo */
  text-align: center;
  margin-top: 1rem; /* Espaçamento acima do footer */
  gap: 0.3rem; /* Espaçamento entre os elementos */
  flex-wrap: wrap; /* Permite quebra de linha em telas menores */
}

/* Estilo para o link "Criar conta" */
.linkCriarConta {
  color: var(--ultra-violet);
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.linkCriarConta:hover {
  color: #502d5a; /* Cor ao passar o mouse */
}
