/* Container do lado direito + modal */
.container {
    position: absolute;
    bottom: 15%;
    background-color: var(--floral-white);
    border-radius: 20px;
    box-shadow: 0 20px 120px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 600px;
    height: 50vh;
    animation: slideUp 1.2s ease-out; 
  }

  .logoManuscrito {
    position: absolute;
    top: -29%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    opacity: 0.9;
    z-index: 2;
    animation: slideDownLogo 1.2s ease-out;
  }

  .imagemPrato {
    position:absolute;
    width: 400px;
    height: auto;
    margin-top: -340px;
    left: 21%;
    z-index: 1;
    animation: slideDown 1.2s ease-out;
  }