.container {
  background-color: var(--floral-white);
  border-radius: 20px;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.formulario h2 {
  text-align: center;
  padding-bottom: 15px;
  font-weight: bold;
}

.logoManuscrito {
  position: absolute;
  width: 230px;
}

.imagemPrato {
  width: 300px;
}

.inputField {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.formGroup label {
  margin-bottom: 0.75rem;
  color: var(--rich-black);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--rich-black);
  margin-top: auto; /* Faz o footer descer até o fim do container */
}
