/* Variáveis de tema */
:root {
    --floral-white: #FFF8ED;
    --rich-black: #111827;
    --ultra-violet: #67477A;
    --sunset: #FCD18A;
    --dark-pastel-green: #22C55E;
    --imperial-red: #EF4444;
    --white: #FFFFFF;
}

/* Estilos globais */
body {
    background-color: var(--fundo);
    color: var(--rich-black);
    font-size: 18px !important;
    font-family: 'Lato', sans-serif !important;
}

/* Barra de pesquisa */
.search-bar {
    border-radius: 8px;
    padding: 8px;
    transition: box-shadow 1.7s ease-in-out, border-color 1.7s ease-in-out;
}

/* Destaque ao selecionar a barra de pesquisa */
.search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px var(--cor-botao) !important; /* Destaque com sombra */
    border-color: var(--cor-botao-hover) !important; /* Cor da borda ao focar */
}

/* Botão de login padrão */
.btn-login {
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease-in-out;
}

.btn-login:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor-texto);
}

/* Botão alternativo */
.btn-alt {
    background-color: var(--fundo); /* Fundo claro */
    color: var(--cor-texto); /* Texto com a cor do botão */
    border: 2px solid var(--cor-botao); /* Borda com a cor do botão */
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease-in-out;
}

.btn-alt:hover {
    background-color: var(--cor-botao); /* Fundo muda para a cor do botão */
    
    border-color: var(--cor-botao-hover); /* Borda muda para a cor de hover */
}

button.custom-btn {
    background-color: var(--cor-botao) !important;
    color: var(--cor-texto) !important;
    border: none !important;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease-in-out;
}

button.custom-btn:hover {
    background-color: var(--cor-botao-hover) !important;
    color: var(--cor-texto) !important;
}

/* Estilo padrão para todos os campos de formulário */
.form-control {
    color: var(--cor-texto);
    border: 1px solid var(--cor-botao) !important;
    border-radius: 8px !important;
    padding: 10px;
    background-color: var(--fundo) ;
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out !important;
}

.form-control:focus {
    outline: none !important;
    box-shadow: 0 0 5px var(--cor-botao) !important;
    border-color: var(--cor-botao-hover) !important;
}
