.resumo-container2 {
  width: 100vw; /* Faz o container ocupar 100% da largura da viewport */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove qualquer padding */
  display: flex;
  flex-direction: row; /* Coloca a imagem e o texto lado a lado */
  align-items: center;
  justify-content: space-between; /* Espaço entre imagem e texto */
  gap: var(--dl-layout-space-fourunits);
  position: relative;
}

.resumo-image-container {
  margin-top: 250px;
  margin-bottom: 250px;
  flex: 1; /* Faz com que a imagem ocupe metade do espaço disponível */
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumo-content1,
.resumo-content2,
.resumo-content3 {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumo-content1 h1 {
  display: flex;
  font-size: 35px;
}

.resumo-content1 h2 {
  display: flex;
  font-size: 25px;
}

.resumo-text1,
.resumo-text2,
.resumo-text3,
.resumo-text4,
.resumo-text5,
.resumo-text6 {
  display: inline-block;
  font-family: Lato, sans-serif;
}

.container {
  position: relative;
  background: linear-gradient(90deg, #67477A 0%, #FCD18A 100%);
  height: 63vh; /* Define a altura do container */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.wave svg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (max-width: 991px) {
  .resumo-container2 {
    flex-direction: column; /* Empilha imagem e texto em telas menores */
    gap: var(--dl-layout-space-twounits);
  }

  .resumo-image1 {
    width: 100%; /* Ajustado para ocupar todo o espaço disponível em telas menores */
    height: auto;
    object-fit: contain; /* Garante que a imagem seja exibida inteira em telas menores */
  }
}
