.resumo-container {
  width: 100vw; /* Faz o container ocupar 100% da largura da viewport */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove qualquer padding */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaço entre imagem e texto */
  gap: var(--dl-layout-space-fourunits);
  position: relative;
}

.resumo-image-container {
  margin-top: 250px;
  margin-bottom: 250px;
  flex: 1; /* Faz com que a imagem ocupe metade do espaço disponível */
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumo-content1 {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px; /* Move o texto para cima */
}

.resumo-content1 h1 {
  display: flex;
  font-size: 40px;
}

.resumo-content1 h2 {
  display: flex;
  font-size: 30px;
}

.resumo-text {
  display: flex;
  font-family: Lato, sans-serif;
}

.container {
  position: relative;
  background: linear-gradient(360deg, #67477A 0%, #FCD18A 100%);
  height: 63vh; /* Define a altura do container */
  width: 100%; /* Garante que o container ocupe 100% da largura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove paddings */
  box-sizing: border-box; /* Inclui padding e borda no cálculo do tamanho */
}

.wave {
  position: absolute;
  top: 235px;
  left: 0;
  width: 100%; /* Garante que a onda ocupe 100% da largura */
  height: auto;
  z-index: 1;
}

.wave svg {
  width: 100%; /* Garante que o SVG ocupe 100% da largura */
  bottom: 0;
  left: 0;
}

@media (max-width: 991px) {
  .resumo-container2 {
    flex-direction: column; /* Empilha imagem e texto em telas menores */
    gap: var(--dl-layout-space-twounits);
  }

  .resumo-image1 {
    width: 100%; /* Ajustado para ocupar todo o espaço disponível em telas menores */
    height: auto;
    object-fit: contain; /* Garante que a imagem seja exibida inteira em telas menores */
  }
}
